/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: "Roboto", sans-serif;
    background-color: #9f4646;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #f2aa24;
}

/* Estilos para el encabezado */
.hero {
    background-image: url('images/hero-background.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #fff;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-form input[type='email'] {
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
}

.btn-subscribe {
    padding: 10px 20px;
    background-color: #f2aa24;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-subscribe:hover {
    background-color: #f0e68c;
}

/* Estilos para las características */
.features {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.feature {
    margin-bottom: 40px;
}

.feature i {
    font-size: 48px;
    color: #f2aa24;
    margin-bottom: 20px;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilos para testimonios */
.testimonials {
    background-color: #f8f8f8;
    padding: 50px 0;
    text-align: center;
}

.testimonial-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.testimonial-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.testimonial-card p {
    font-size: 18px;
}

.testimonial-card cite {
    font-style: italic;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.social-icons a {
    color: #f2aa24;
    margin: 0 10px;
    font-size: 24px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}
